%inputs {
  background-color: 'white';
  border-radius: '4px';
}
.newTodoForm {
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-between';
  margin: '2rem auto';
  max-width: '42rem';
  &-text {
    @extend %inputs;
    width: '23rem';
  }
  &-datepicker {
    @extend %inputs;
    max-width: '10rem';
  }
}
